<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="main.master.cs" Inherits="web.Master.main" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div id="dvTop">南莫中学信息中心</div>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div id="dvFoot">CopyRight</div>
    </form>
</body>
</html>
